<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="EngineLogFile" fileName="../logs/engine.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <append>false</append>
        </File>
        <File name="DemosLogFile" fileName="../logs/demos.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <append>false</append>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.clabs.demos" level="TRACE" additivity="true">
            <AppenderRef ref="DemosLogFile"/>
        </Logger>
        <Logger name="com.clabs.engine" level="TRACE" additivity="true">
            <AppenderRef ref="EngineLogFile"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>